<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Капли в нос - Инструкция</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
	<link rel="stylesheet" href="./info.css">
</head>

<body>
	<header class="header">
		<div class="container">
			<div class="header-block">
				<a href="/">
					<picture class="header-logo">
						<img src="./assets/icons/logo.svg" alt="Логотип СУПРАСТИНЕКС">
					</picture>
				</a>
				<nav class="header-nav js-menu-drodpown">
					<ul class="header-nav__list">
						<li class="header-nav__list-item">
							<a href="./index.html#about" class="button square">Почему Супрастинекс</a>
						</li>
						<li class="header-nav__list-item">
							<a href="./index.html#slider" class="button square">Формы выпуска</a>
						</li>
						<li class="header-nav__list-item sub">
							<button class="button square">Инструкции</button>

							<ul class="header-nav-dropdown">
								<li><a href="./info-drops.html">Инструкция Капли</a></li>
								<li><a href="./info-tablets.html">Инструкция Таблетки</a></li>
							</ul>
						</li>
						<li class="header-nav__list-item sub mobile" id="toggle-droprown">
							<button class="button square">
								<span>Инструкции</span>
								<svg class="header-nav__list-arrow" width="13" height="8" viewBox="0 0 13 8" fill="none"
									xmlns="http://www.w3.org/2000/svg">
									<path d="M1 2L6 7L11 2" stroke-width="2" stroke-linecap="round"
										stroke-linejoin="round" />
								</svg>
							</button>

							<ul class="header-nav-dropdown" id="dropdown">
								<li><a href="./info-drops.html" class="header-nav__list-item">Инструкция Капли</a></li>
								<li><a href="./info-tablets.html" class="header-nav__list-item">Инструкция Таблетки</a></li>
							</ul>
						</li>
						<li class="header-nav__list-item">
							<a href="./index.html#simptoms" class="button square">Все об аллергии</a>

						</li>
						<li class="header-nav__list-item">
							<a href="./index.html#pharms" class="button buy">Где купить</a>
						</li>
					</ul>
				</nav>
				<div class="header-nav__toggle js-menu-toggle">
					<div></div>
					<div></div>
					<div></div>
				</div>
			</div>
		</div>
	</header>

	<main>
		<article>
			<div class="hero info">
				<div class="container">
					<h1 class="h1 hero__title info">ИНСТРУКЦИЯ ПО МЕДИЦИНСКОМУ ПРИМЕНЕНИЮ ЛЕКАРСТВЕННОГО ПРЕПАРАТА <span class="color">Супрастинекс®</span></h1>
                    <div class="product">
                        <div class="container product-block">
                            <div class="product-left">
                                <div class="product__name">
                                    <h3>Капли</h3>
                                </div>
                                <picture class="product__img">
                                    <source media="(min-width: 1440px)" srcset="./assets/info/drops-product-1440.png">
                                    <source media="(min-width: 1024px)" srcset="./assets/info/drops-product-1024.png">
                                    <source media="(min-width: 768px)" srcset="./assets/info/drops-product-768.png">
                                    <source media="(min-width: 540px)" srcset="./assets/info/drops-product-540.png">
                                    <img src="./assets/info/drops-product-320.png">
                                </picture>
                            </div>
                            <div class="product-right">
                                <h2 class="product__title">Капли Супрастинекс® для приема внутрь</h2>
                                <nav class="product-links">
                                    <a href="#" class="product-links__item">Общая информация</a>
                                    <a href="#" class="product-links__item">Фармакологические свойства</a>
                                    <a href="#" class="product-links__item">Показания к применению</a>
                                    <a href="#" class="product-links__item">Противопоказания</a>
                                    <a href="#" class="product-links__item">Способ применения и дозы</a>
                                </nav>
                                <div class="product-buttons desktop">
                                    <a href="#menu" class="button">Читать онлайн</a>
                                    <a href="#" class="button border">
                                        Скачать PDF
                                        <svg width="16" height="21" viewBox="0 0 16 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0.5 2.65625C0.5 1.82782 1.17157 1.15625 2 1.15625H11.5825L15.25 5.43496V18.3438C15.25 19.1722 14.5784 19.8438 13.75 19.8438H2C1.17157 19.8438 0.5 19.1722 0.5 18.3438V2.65625Z" stroke="#58595B"/>
                                            <path d="M11.1562 1.3125V4.90625C11.1562 5.45853 11.604 5.90625 12.1563 5.90625H15.0937" stroke="#58595B"/>
                                            <rect class="no-stroke" x="7" y="7" width="2" height="5" fill="#924392"/>
                                            <path class="no-stroke" d="M4 11.9062H11.875L7.9375 15.8438L4 11.9062Z" fill="#924392"/>
                                        </svg>                                                                                     
                                    </a>
                                </div>
                                <div class="product-buttons mobile">
                                    <a href="#menu" class="button black">Читать онлайн</a>
                                    <a href="#" class="button black border">
                                        Скачать PDF
                                        <svg width="16" height="21" viewBox="0 0 16 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0.5 2.65625C0.5 1.82782 1.17157 1.15625 2 1.15625H11.5825L15.25 5.43496V18.3438C15.25 19.1722 14.5784 19.8438 13.75 19.8438H2C1.17157 19.8438 0.5 19.1722 0.5 18.3438V2.65625Z" stroke="#fff"/>
                                            <path d="M11.1562 1.3125V4.90625C11.1562 5.45853 11.604 5.90625 12.1563 5.90625H15.0937" stroke="#fff"/>
                                            <rect class="no-stroke" x="7" y="7" width="2" height="5" fill="#fff"/>
                                            <path class="no-stroke" d="M4 11.9062H11.875L7.9375 15.8438L4 11.9062Z" fill="#fff"/>
                                        </svg>                                                                                     
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
            <div class="menu scroll" id="menu">
                <div class="container">
                    <ul class="menu-list">
                        <li class="menu-list__item">
                            <a href="#" class="button square">Общая информация</a>
                        </li>
                        <li class="menu-list__item">
                            <a href="#" class="button square">Фармакологические свойства</a>
                        </li>
                        <li class="menu-list__item">
                            <a href="#" class="button square">Показания к применению</a>
                        </li>
                        <li class="menu-list__item">
                            <a href="#" class="button square">Противопоказания</a>
                        </li>
                        <li class="menu-list__item" v-if="showMore">
                            <a href="#" class="button square">С осторожностью</a>
                        </li>
                        <li class="menu-list__item" v-if="showMore">
                            <a href="#" class="button square">Беременность и грудное вскармливание</a>
                        </li>
                        <li class="menu-list__item" v-if="showMore">
                            <a href="#" class="button square">Способ применения и дозы</a>
                        </li>
                        <li class="menu-list__item" v-if="showMore">
                            <a href="#" class="button square">Побочное действие</a>
                        </li>
                        <li class="menu-list__item" v-if="showMore">
                            <a href="#" class="button square">Передозировка</a>
                        </li>
                        <li class="menu-list__item" v-if="showMore">
                            <a href="#" class="button square">Взаимодействие с другими лекарственными средствами</a>
                        </li>
                        <li class="menu-list__item" v-if="showMore">
                            <a href="#" class="button square">Особые указания</a>
                        </li>
                        <li class="menu-list__item" v-if="showMore">
                            <a href="#" class="button square">Управление транспортом и т.п.</a>
                        </li>
                        <li class="menu-list__item" v-if="showMore">
                            <a href="#" class="button square">Форма выпуска</a>
                        </li>
                        <li class="menu-list__item" v-if="showMore">
                            <a href="#" class="button square">Срок годности</a>
                        </li>
                        <li class="menu-list__item" v-if="showMore">
                            <a href="#" class="button square">Условия хранения</a>
                        </li>
                        <li class="menu-list__item" v-if="showMore">
                            <a href="#" class="button square">Условия отпуска</a>
                        </li>
                        <li class="menu-list__item button square js-menu-more" @click="showMore = !showMore">
                            {{ showMore ? 'Скрыть' : 'Больше' }}
                            <span v-if="!showMore">+</span>
                            <span v-if="showMore">-</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="legal section">
                <div class="container">
                    <div class="legal-block">
                        <div class="legal-card">
                            <img src="./assets/icons/egis.svg" alt="ЕГИС" class="legal__img">
                            <h3 class="legal__title">Владелец регистрационного удостоверения</h3>
                            <p class="legal__text">ЗАО «Фармацевтический завод ЭГИС», Венгрия 1106 Будапешт, ул. Керестури 30-38, Венгрия</p>
                            <p class="legal__text">Телефон: (36-1)803-5555, Факс: (36-1)803-5529</p>
                            <h3 class="legal__title second">Производитель</h3>
                            <p class="legal__text">ЗАО «Фармацевтический завод ЭГИС», Венгрия 1165 Будапешт, ул. Бёкеньфёлди 118-120, Венгрия (все стадии производства)</p>
                        </div>
                        <div class="legal-card">
                            <img src="./assets/icons/egis.svg" alt="ЕГИС" class="legal__img">
                            <h3 class="legal__title">Претензии потребителей следует направлять по адресу:</h3>
                            <p class="legal__text">ООО «ЭГИС-РУС» 121552, г. Москва, ул. Ярцевская, д.19, блок В, этаж 13</p>
                            <a href="tel:+74953633966" class="legal__phone">+7 (495) 363 39 66</a>
                        </div>
                    </div>
                </div>
            </div>
			<div class="disclaimer">
				<h3 class="disclaimer__title">ИМЕЮТСЯ ПРОТИВОПОКАЗАНИЯ. НЕОБХОДИМО ПРОКОНСУЛЬТИРОВАТЬСЯ СО СПЕЦИАЛИСТОМ
				</h3>
			</div>
		</article>
		<footer class="footer">
			<div class="footer-container">
				<div class="footer-block">
					<nav class="footer-nav">
						<a href="./" class="footer-nav__link">Главная</a>
						<a href="./index.html#pharms" class="footer-nav__link">Где купить?</a>
						<a href="./product-drops.html" class="footer-nav__link">Капли Супрастинекс® </a>
						<a href="./info-drops.html" class="footer-nav__link">Инструкция Капли Супрастинекс® </a>
						<a href="./product-tablets.html" class="footer-nav__link">Таблетки Супрастинекс® </a>
						<a href="./info-tablets.html" class="footer-nav__link">Инструкция Таблетки Супрастинекс® </a>
					</nav>
					<div class="footer-info">
						<div class="footer-info-card">
							<p class="footer-info-card__title">Компания, принимающая претензии потребителей:</p>
							<p class="footer-info-card__text">ООО «ЭГИС-РУС» 121552, г. Москва, ул. Ярцевская, д.19,
								блок В, этаж 13</p>
							<a href="tel:+74953633966" class="footer-info-card__phone">+7 (495) 363 39 66</a>
						</div>
						<div class="footer-info-card">
							<div class="footer-info-card-block">
								<p class="footer-info-card__title">Сообщить о нежелательном явлении:</p>
								<p class="footer-info-card__text">Если Вам стало известно о нежелательной реакции при
									использовании продукта из портфеля ООО «ЭГИС-РУС», пожалуйста, сообщите эту
									информацию через любую из удобных для вас форм связи.</p>
							</div>
							<div class="footer-info-card-buttons">
								<a href="mailto:pharmacovigilance@egis.ru"
									class="button footer-info-card-buttons__item">pharmacovigilance@egis.ru</a>
								<a href="tel:+74953633966" class="button footer-info-card-buttons__item">+7
									(495) 363-39-66</a>
								<a href="https://pharmacovigilance.egis.ru/" target="_blank"
									class="button footer-info-card-buttons__item">Заполнить форму на сайте</a>
							</div>
						</div>
					</div>
					<div class="footer-legal">
						<span class="footer-legal__item">© 2023 ООО «ЭГИС-РУС». Все права защищены.</span>
						<a href="https://ru.egis.health/" target="_blank" class="footer-legal__item">Производитель</a>
						<div class="footer-legal-info">
							<p class="footer-legal__item">Регистрационный номер: ЛП-000225.</p>
							<p class="footer-legal__item">Регистрационный номер: ЛСР-008568/10.</p>
							<p class="footer-legal__item">ЭДО 2000001292372-26.12.2022</p>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<div class="links">
			<div class="container">
				<div class="links-block">
					<div class="links-creator info">Страница разработана <a href="https://sokratus.com/" target="_blank">SOKRATUS.COM</a></div>
				</div>
			</div>
		</div>
	</main>

	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./info.js"></script>
</body>

</html>