@font-face
  font-family: U001
  src: url('../assets/fonts/u001-reg.ttf')
  font-weight: normal
  font-style: normal
  
@font-face
  font-family: U001
  src: url('../assets/fonts/u001-bol.ttf')
  font-weight: bold
  font-style: normal
  