*
  color: $base-black
  box-sizing: border-box
  font-family: 'U001'

h1, h2, h3, h4, h5, h6, p 
  margin: 0
  padding: 0

main
  overflow: hidden

*, html 
  scroll-behavior: smooth !important

.white
  color: $base-white

.section
  padding: 150px 0

  @media (max-width: $xl)
    padding: 130px 0
  @media (max-width: $lg)
    padding: 90px 0
  @media (max-width: $md)
    padding: 70px 0
  @media (max-width: $sm)
    padding: 50px 0
     


.button
  display: inline-block
  border: none
  border-radius: 30px
  font-size: 18px
  font-weight: bold
  cursor: pointer
  text-align: center
  color: $base-white
  background-color: $accent
  padding: 17px 45px
  box-shadow: 2px 3px 19px rgba(91, 51, 91, 0.29)
    
  @media ( max-width: $lg )
    padding: 14px 35px
  
  @media ( max-width: $md )
    padding: 14px 20px

  &.square
    border-radius: 3px
    background-color: transparent
    padding: 13px 25px 12px
    color: $base-black
    box-shadow: none

    @media ( max-width: $lg )
      padding: 17px auto 18px

    &:hover
      color: $base-white

  &.buy
    padding: 17px 25px
    box-shadow: none

    @media ( max-width: $lg )
      padding: 17px 53px
  
  &.black
    background-color: $base-white
    color: $base-black
    transition: .2s
    box-shadow: 2px 3px 29px rgba(131, 42, 109, 0.48)

    &.border
      border-color: $base-white
      color: $base-white
      height: 52px
      transition: .2s
      box-shadow: none

      @media ( max-width: $lg )
        padding: 14px 81px
        height: 46px
    
      @media ( max-width: $md )
        padding: 14px 20px
      
      &:hover
        color: $base-black

      &:active
        color: $base-white

    &:hover
      background: $extra-3

    &:active
      color: $base-white
      background: $extra-1
    
  &.border
    padding: 17px 45px
    border: 1px solid $accent
    background-color: transparent
    color: $accent
    height: 52px
    box-shadow: none

    &:hover, &:active
      color: $base-white
      border-color: transparent

    @media ( max-width: $lg )
      padding: 14px 81px
      height: 48px
    
    @media ( max-width: $md )
      padding: 14px 20px


  &:hover
    background: $base-gradient

  &:active
    background: $extra-1

a
  text-decoration: none

.h1
  text-align: center
  text-transform: uppercase
  font-size: 40px
  line-height: 1.25
  margin-bottom: 65px

  & .color
    background: $base-gradient
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent

  @media ( max-width: $xl )
    font-size: 36px
    margin-bottom: 55px
  
  @media ( max-width: $lg )
    font-size: 32px
    margin-bottom: 50px

  @media ( max-width: $md )
    font-size: 26px
  
  @media ( max-width: $sm )
    font-size: 20px
    margin-bottom: 30px
    &.info
      font-size: 16px

.h2
  text-align: center
  text-transform: uppercase
  font-size: 40px
  line-height: 1.25
  margin: 0 auto
  margin-bottom: 65px
  & .color
    background: $base-gradient
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent

  @media ( max-width: $xl )
    font-size: 36px
    margin-bottom: 55px
  
  @media ( max-width: $lg )
    font-size: 32px
    margin-bottom: 50px

  @media ( max-width: $md )
    font-size: 26px
  
  @media ( max-width: $sm )
    font-size: 20px
    margin-bottom: 30px

.scroll
  scroll-margin-top: 100px

  @media (max-width: $xl)
    scroll-margin-top: 80px
  @media (max-width: $lg)
    scroll-margin-top: 50px
  @media (max-width: $md)
    scroll-margin-top: 40px
  @media (max-width: $sm)
    scroll-margin-top: 30px
  
sup
  right: -.2em
  font-size: 60%
  & a 
    transition: .2s
    &.white 
      &:hover
        color: $extra-3

    &:hover 
      color: $accent
    &:active
      color: $extra-1

.brcrumbs 
  margin: 20px 0
  &-items 
    display: flex
    align-items: center
    font-size: 14px
    line-height: 1.5
    flex-wrap: wrap
  & a 
    color: $text-secondary
  & span 
    color: $text-light
    margin: 0 5px

    &:last-child
      margin: 0

  @media (max-width: $md)
    &-items 
      font-size: 12px
      

picture 
  img 
    height: 100%
    width: 100%

.content
  height: 150vh
  background: $bg-gradient, url('./assets/images/bg-img.svg')
  background-position: right bottom
  background-repeat: no-repeat

.container
  width: 1290px
  margin: 0 auto

  @media (max-width: $xl)
    width: 985px
  
  @media (max-width: $lg)
    width: 85%
