.footer
    background: $bg-gradient
    &-container 
        width: 1300px
        margin: 0 auto
    &-block 
        padding: 70px 0

    &-nav 
        display: flex 
        flex-wrap: wrap
        padding: 0 40px
        margin-bottom: 40px
        max-width: 1000px

        &__link 
            color: $base-white
            font-size: 16px
            line-height: 1.4
            margin-bottom: 10px

            &:nth-child(1)
                order: 1
                flex-basis: 100px
                margin-right: 73px
            &:nth-child(2)
                order: 4
                flex-basis: 100px
                margin-right: 73px
            &:nth-child(3)
                order: 2
                flex-basis: 270px
                margin-right: 73px
            &:nth-child(4)
                order: 5
                flex-basis: 270px
                margin-right: 73px
            &:nth-child(5)
                order: 3
                flex-basis: 300px
            &:nth-child(6)
                order: 6
                flex-basis: 300px

    &-info 
        display: flex
        justify-content: space-between
        margin-bottom: 50px

        &-card 
            padding: 40px
            border-radius: 10px
            background-color: $base-white
            box-shadow: 0px 4px 23px rgba(143, 51, 111, 0.15)
            display: flex

            &:first-child
                flex-direction: column
                width: 503px
            &:last-child
                width: 767px
            &-block 
                flex-basis: 50%
                padding-right: 30px

            &-buttons 
                flex-basis: 50%
                & .button
                    width: 100%
                    padding: 17px 35px

                    &:not(:last-child)
                        margin-bottom: 12px
                
            &__title 
                font-size: 22px
                line-height: 1.05
                font-weight: bold
                margin-bottom: 12px

            &__text
                font-size: 16px
                line-height: 1.35

            &__phone
                margin-bottom: 0
                margin-top: auto
                font-size: 28px
                color: $accent 
                font-weight: bold
                transition: .2s

                &:active 
                    color: $extra-1
    &-legal
        display: flex
        justify-content: space-between
        padding: 0 40px

        &__item 
            font-size: 15px
            line-height: 1.35
            color: $base-white

            &:first-child
                margin-right: 80px

        &-info 
            margin-right: 0
            margin-left: auto

            & .footer-legal__item:first-child
                margin-right: 0
            & p 
                line-height: 1.4
                &:not(:last-child)
                    margin-bottom: 6px

    @media (max-width: $xl) 
        &-container 
            width: 908px
        &-block 
            padding: 50px 0
        &-info 
            &-card 
                padding: 25px 30px
                &:first-child
                    width: 356px
                &:last-child
                    flex-direction: column
                    width: 520px
                &-buttons 
                    margin-top: 30px
                &__title
                    font-size: 20px
                    line-height: 1.1

                    margin-bottom: 10px
                &__phone
                    font-size: 26px
        &-legal 
            padding: 0 30px
            &__item
                &:nth-child(1)
                    max-width: 180px
                &:nth-child(2)
                    max-width: 151px
    @media ( max-width: $lg )
        &-container 
            width: 100%
            padding: 0 60px
        &-nav 
            margin-bottom: 30px
            padding: 0 20px
            max-width: 700px

            &__link
                &:nth-child(1)
                    order: 1
                    flex-basis: 200px
                &:nth-child(2)
                    order: 3
                    flex-basis: 200px
                &:nth-child(3)
                    order: 5
                    flex-basis: 200px
                &:nth-child(4)
                    order: 2
                    flex-basis: 300px
                    margin-right: 0
                &:nth-child(5)
                    order: 4
                    flex-basis: 300px
                    margin-right: 0
                &:nth-child(6)
                    order: 6
                    flex-basis: 300px
                    margin-right: 0
        &-info 
            display: flex
            justify-content: space-between
            margin-bottom: 35px
            &-card
                padding: 20px
                height: fit-content

                &:first-child,
                &:last-child
                    width: calc(50% - 10px)
                
                &-buttons 
                    & .button 
                        padding: 15px

                &__phone
                    font-size: 22px
                    margin-top: 30px
        &-legal
            padding: 0 20px
            flex-wrap: wrap
            & > .footer-legal__item
                &:nth-child(1)
                    margin-right: 0
                    flex-basis: 50%
                    max-width: 100%
                &:nth-child(2)
                    flex-basis: 50%
                    order: 2
                    margin-top: -60px
            &-info 
                margin-left: 0
                flex-basis: 50%
                padding-left: 30px
                & p 
                    &:not(:last-child)
                        max-width: 100%

    @media ( max-width: $md)
        &-container 
            padding: 0 40px
        &-nav 
            margin-bottom: 20px
            max-width: 100%

            &__link
                &:nth-child(1)
                    order: 1
                    flex-basis: 100%
                    margin-right: 0
                &:nth-child(2)
                    order: 2
                    flex-basis: 100%
                    margin-right: 0
                &:nth-child(3)
                    order: 3
                    flex-basis: 100%
                    margin-right: 0
                &:nth-child(4)
                    order: 4
                    flex-basis: 100%
                &:nth-child(5)
                    order: 5
                    flex-basis: 100%
                &:nth-child(6)
                    order: 6
                    flex-basis: 100%
            
        &-info
            flex-direction: column
            &-card 
                width: 100%

                &:first-child
                    margin-bottom: 20px
                    width: 100%
                
                &:last-child
                    width: 100%

                &__title 
                    font-size: 20px
                    margin-bottom: 7px
                &__text 
                    font-size: 16px
                &__phone
                    margin-top: 30px
                    font-size: 20px
        &-legal
            flex-direction: column
            &__item:nth-child(1)
                max-width: 100%
            & > .footer-legal__item
                &:nth-child(1)
                    margin-bottom: 20px
                    flex-basis: 100%
                    order: 1
                &:nth-child(2)
                    flex-basis: 100%
                    order: 2
                    margin-top: 0
                    margin-bottom: 20px
            &-info 
                order: 3
                flex-basis: 100%
                padding-left: 0
                & p 
                    &:not(:last-child)
                        max-width: 100%
    @media ( max-width: $sm)
        &-container
            padding: 0 20px
        &-nav 
            margin-bottom: 30px
            &__link 
                margin-bottom: 20px
        &-info
            &-card 
                &:first-child
                    margin-bottom: 30px

                &__title 
                    font-size: 18px
                &__phone
                    margin-top: 10px
                    font-size: 18px
                &-buttons
                    &__item 
                        font-size: 14px