.header
  box-shadow: $box-shadow-2
  background-color: $base-white 
  position: sticky
  top: 0
  z-index: 999
  &-block
    display: flex
    align-items: center
    justify-content: space-between
    padding: 30px 0

  &-logo
    width: 210px
    display: block
    & img
      width: 100%
  
  &-nav
    display: flex
    align-items: center
    z-index: 20

    &-dropdown
      position: absolute
      top: calc(100% + 15px)
      left: 0
      width: max-content
      border-radius: 6px
      box-shadow: 0px 0px 12px rgba(156, 154, 154, 0.19)
      background: $base-white
      visibility: hidden
      opacity: 0
      transform: translateY(-5px)
      transition: .3s
      list-style: none
      padding: 25px

      & li 
        font-size: 16px
        font-weight: bold
        & a 
          &:hover 
            color: $accent
          &:active
            color: $extra-1
        &:first-child
          padding-bottom: 15px
          margin-bottom: 15px
          border-bottom: 1px solid $accent
    
    &__list
      display: flex
      align-items: center
      list-style: none
      padding: 0
      margin: 0

      &-item
        &.sub
          position: relative
          &.mobile
            display: none
          &:hover 
            & .header-nav-dropdown
              visibility: visible
              transform: translateY(0)
              opacity: 1
            & .header-nav__list-arrow 
              stroke: $base-white
              transform: rotate(180deg)
          & button
            display: flex
            align-items: center
            &:hover 
              & span 
                color: $base-white 
        &:not(:last-child)
          margin-right: 25px
      &-arrow 
        height: 8px
        width: 13px
        margin-left: 10px
        stroke: $base-black
        transition: transform .3s

    &__toggle
      display: none
      width: 26px
      height: 26px
      cursor: pointer
      position: relative

      & div
        position: absolute
        top: 0
        width: 26px
        height: 4px
        background-color: $base-black
        margin-bottom: 5px
        transition: 0.3s ease transform, 0.3s ease top, 0.3s ease width, 0.3s ease right

        &:last-child
          top: 10px

        &:nth-child(2)
          top: 20px
      
      &.close
        & div:first-child
          top: 8px
          transform: rotateZ(45deg)

        & div:last-child 
          top: 8px
          transform: rotateZ(45deg)

        & div:nth-child(2)
          width: 26px
          top: 8px
          right: 0
          transform: rotateZ(-45deg)

  @media ( max-width: $xl )
    &-block
      padding-top: 21px
      padding-bottom: 12px
      flex-direction: column

    &-logo
      margin-bottom: 13px
      width: 203px

    &-nav
      padding-top: 13px
      border-top: solid $background 2px

      &__list
        &-item
          &:not(:last-child)
            margin-right: 17px
    
  @media ( max-width: $lg )
    &-block
      padding: 22px 0
      flex-direction: row

    &-logo 
      width: 220px
      margin-bottom: 0

    &-nav
      position: absolute
      top: 100%
      left: 0
      background-color: $background
      padding-top: 5px
      border-top: none
      width: 100vw
      visibility: hidden
      opacity: 0
      transform: translateY(0.5rem)
      transition: all .2s

      &.show
        visibility: visible
        opacity: 1
        transform: translateY(0rem)


      &-dropdown
        display: none
        position: relative
        top: 0
        left: 0
        width: 100%
        opacity: 1
        visibility: visible
        transform: none
        box-shadow: none
        background: none
        border-radius: 0
        padding: 20px 0
        margin: 0 20px
        &::after
          content: ''
          position: absolute
          left: 50%
          top: 0
          transform: translateX(-50%)
          height: 1px
          width: 90%
          background-color: $base-white
        & li
          &:first-child
            border-bottom: none
            padding-bottom: 0
            margin-bottom: 35px
      &__list
        flex-direction: column
        width: 100%

        &-item
          text-align: center
          width: 100%
          display: flex
          justify-content: center

          &.sub 
            display: none
            &.open
              & .header-nav__list-arrow 
                stroke: $base-white
                transform: rotate(180deg)
              & .header-nav-dropdown
                display: block
            &.mobile
              display: flex
              align-items: center
              flex-direction: column
              &.open
                background: $bg-gradient
                & * 
                  color: $base-white
                & .button:hover span 
                  color: $base-white
              & a
                color: $base-black
              & .button 
                display: flex
                align-items: center
                justify-content: center

          &:not(:last-child)
            margin-right: 0
          
          &:nth-child(7)
            margin-top: 17px
            margin-bottom: 48px

          & .button.square
            width: 100%
        &-arrow 
          display: block
        
      &__toggle
        padding: 0
        display: block
    
  @media ( max-width: $md )
    &-block
      padding: 10px 0
    
    &-logo 
      width: 208px

    &-nav 
      padding-top: 23px

  @media ( max-width: $sm )
    &-logo 
      width: 135px