.links
    &-block 
        padding: 50px 40px
    &__star
        margin-bottom: 50px
    &__title 
        margin-bottom: 15px
        color: $text-secondary

    & ol 
        padding-left: 15px

    & li 
        font-size: 14px
        color: $text-secondary
        overflow-wrap: break-word

        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5)
            margin-bottom: 7px

    &-creator 
        border-top: 1px solid $text-secondary
        margin-top: 50px
        padding-top: 30px
        font-size: 14px
        & a 
            text-decoration: underline


    @media (max-width: $xl)
        &-block
            padding: 30px
        &__star 
            margin-bottom: 30px
        &-creator 
            margin-top: 30px
    @media (max-width: $lg)
        &-block
            padding: 25px 20px
        &__star 
            margin-bottom: 25px
        &-creator 
            padding-top: 15px
            margin-top: 25px
    @media (max-width: $md)
        &-block
            padding: 20px
        &__star 
            margin-bottom: 20px
    @media (max-width: $sm)
        &-block
            padding: 20px 0
