.pharms
    width: 1216px
    margin: 0 auto
    padding-bottom: 0
    &__title
        color: $base-white

    &-items
        position: relative
        display: flex
        flex-wrap: wrap
        margin-top: -22px
        margin-bottom: -30px

        &-hex 
            display: flex
            align-items: center
            justify-content: center
            height: 288px
            width: 262px
            background-image: url('./assets/images/pharms-hex.png')
            background-size: contain
            background-position: center
            background-repeat: no-repeat
            transition: .3s
            margin-right: -10px
            margin-left: -10px

            &.more 
                display: none

            &:first-child
                display: flex
                flex-direction: column
                align-items: center
                font-size: 20px
                font-weight: bold

                & span 
                    color: $extra-1
                    max-width: 172px
                    text-align: center
                    margin-bottom: 10px
                
                & svg 
                    height: 28px
                    width: 26px

            &:nth-child(6)
                margin-left: 110px

            &:nth-child(6),
            &:nth-child(7),
            &:nth-child(8),
            &:nth-child(9) 
                margin-top: -70px

            &:hover 
                background-image: url('./assets/images/pharms-hex-hover.png')
                & img 
                    filter: grayscale(0)
        
            & img
                width: 170px
                height: auto
                filter: grayscale(1)
                transition: .2s
        &-product
            position: absolute
            left: -120px
            bottom: 20px
            height: 243px
            width: 243px
            display: flex
            align-items: center
            justify-content: center
            background-image: url('./assets/images/pharms-product-bg.svg')
            background-size: contain
            background-position: center
            background-repeat: no-repeat
            &__img
                height: 82px
                width: 150px
                margin-left: 20px
                &.drops
                    height: 130px
                    width: 110px
                    margin-left: 20px
    @media ( max-width: $xl )
        width: 916px
        &-items 

            &-hex 
                height: 222px
                width: 202px
            
                &:first-child
                    & span
                        font-size: 18px
                        max-width: 150px
                        margin-bottom: 6px
                
                    & svg 
                        height: 22px
                        width: 21px

                &:nth-child(6),
                &:nth-child(7),
                &:nth-child(8),
                &:nth-child(9) 
                    margin-top: -60px

                &:nth-child(6)
                    margin-left: 80px

                & img 
                    width: 110px
            &-product 
                left: -100px
                bottom: 15px
                height: 190px
                width: 190px
                &__img
                    width: 120px
                    height: 70px
                    margin-left: 25px

                    &.drops
                        height: 90px
                        width: 77px

        
    @media ( max-width: $lg )
        width: 680px
        &-items 
            &-hex 
                height: 160px
                width: 146px
                margin-left: -5px
                margin-right: -5px

                &:first-child 
                    & span 
                        font-size: 13px
                        max-width: 110px
                        margin-bottom: 4px
                
                    & svg 
                        height: 16px
                        width: 15px
                        

                &:nth-child(6),
                &:nth-child(7),
                &:nth-child(8),
                &:nth-child(9) 
                    margin-top: -40px

                &:nth-child(6)
                    margin-left: 60px

                & img 
                    width: 80px
            &-product
                left: -75px
                bottom: 10px
                height: 140px
                width: 140px
                &__img
                    width: 90px
                    height: 50px

                    &.drops
                        height: 80px
                        width: 70px

    @media (max-width: $md)
        width: 495px
        &-items
            &-hex 
                height: 200px
                width: 184px
                margin-right: -10px
                margin-left: -10px

                &.more
                    display: flex
                    align-items: center
                    justify-content: center
                    background-image: url('./assets/images/pharms-hex-more.png')

                    &:hover 
                        background-image: url('./assets/images/pharms-hex-more-hover.png')

                    & span 
                        font-size: 16px
                        max-width: 110px
                        text-align: center
                        color: $extra-1
                        font-weight: bold

                &:first-child 
                    & span 
                        font-size: 16px
                        max-width: 130px
                        margin-bottom: 6px
                
                    & svg 
                        height: 19px
                        width: 17px
                
                &:nth-child(3),
                &:nth-child(4),
                &:nth-child(5),
                &:nth-child(6),
                &:nth-child(7),
                &:nth-child(8),
                &:nth-child(9),
                &:nth-child(10) 
                    margin-top: -55px
                &:nth-child(1),
                &:nth-child(6)
                    margin-left: 72px
                    
                
                & img 
                    width: 106px
            &-product
                display: none
        &__title
            margin-bottom: 35px

    @media ( max-width: $sm )
        width: 300px
        &-items
            &-hex 
                height: 130px
                width: 110px
                margin-right: -5px
                margin-left: -5px

                &.more 
                    & span 
                        font-size: 12px
                        max-width: 72px

                &:first-child
                    & span 
                        font-size: 12px
                        max-width: 90px
                    & svg 
                        height: 15px
                        width: 14px

                &:nth-child(3),
                &:nth-child(4),
                &:nth-child(5),
                &:nth-child(6),
                &:nth-child(7),
                &:nth-child(8),
                &:nth-child(9),
                &:nth-child(10) 
                    margin-top: -42px
                
                &:nth-child(1),
                &:nth-child(6)
                    margin-left: 45px

                & img 
                    width: 68px
        &__title
            margin-bottom: 35px
