.sliders
    padding-top: 640px
    position: relative
    background: $bg-gradient

    @media (max-width: $xl)
        padding-top: 470px

    @media ( max-width: $lg )
        padding-top: 400px

    @media ( max-width: $md )
        padding-top: 1450px