.slider-types
    position: absolute
    top: -90px
    left: 50%
    transform: translateX(-50%)
    width: 1370px
    height: 580px
    background-size: contain
    background-repeat: no-repeat
    background-position: center

    &::before
        content: ''
        position: absolute
        width: 100%
        height: 100%
        top: 0
        left: 0
        background-image: url('./assets/images/slider-bg.png')
        background-size: contain
        background-repeat: no-repeat
        background-position: bottom left


    &-card
        width: 100%
        height: 100%
        display: flex
        align-items: center
        transition: .3s

        &__info
            position: relative
            z-index: 8
            width: 50%
            display: flex
            align-items: center

            &.left
                padding-top: 20px
                padding-left: 35px

            &.right
                padding-right: 20px
                justify-content: flex-end

            &-item
                display: flex
                align-items: center
                font-size: 22px
                font-weight: bold

                &:not(:last-child)
                    margin-bottom: 30px
            
                &.right
                    &:not(:last-child)
                        margin-bottom: 20px


            &-text
                max-width: 340px


            &-img
                height: 66px
                width: 74px
                margin-right: 30px

                &.right
                    height: 75px
                    width: 85px

        &__main 
            position: relative
            display: flex
            flex-direction: column
            align-items: center
            justify-content: end
            padding-bottom: 120px
            height: 100%
            width: 50%
            z-index: 8

            &.left 
                padding-left: 30px

            &.right
                padding-right: 30px

            & .main-image
                margin-bottom: 50px
                cursor: pointer

                & img 
                    width: 100%
                    height: 100%

        &.left
            color: $base-white

            & .main-image
                margin-right: 40px
                height: 194px
                width: 380px
        
        &.right
            position: absolute
            left: 0
            top: 0

            &::after
                right: 0
                top: 0
                transition: .3s

            & .main-image
                height: 291px
                width: 227px
        
        &.full 
            & .main-image
                cursor: default

        &.hide
            z-index: -1

    &__title
        font-size: 29px
        margin: 0
        margin-bottom: 15px
    
    &-buttons
        position: relative
        z-index: 10
        display: flex
        justify-content: center
        width: auto
        white-space: nowrap

        & a.button
            margin-left: 10px

    &-range
        pointer-events: none
        width: calc(100% - 80px)
        position: absolute
        top: 50%
        transform: translateY(-50%)
        left: 40px
        z-index: 9
        -webkit-appearance: none
        appearance: none
        background: transparent

        &:hover 
            & + .slider-types-range__thumb
                & .bg
                    fill: $extra-3

        &:focus
            outline: none

        &__thumb  
            user-select: none
            position: absolute
            left: 50%
            top: 50%
            transform: translate(-50%, -50%)
            transition: .3s
            height: 80px
            width: 94px 
            z-index: 1
            & svg 
                height: 100%
                width: 100%
            & .bg
                transition: .2s
                fill: #E898C0
            & .arr-r
                transition: .2s
                animation: toggle-arrows-r 5s infinite
            & .arr-l
                transition: .2s
                animation: toggle-arrows 5s infinite

            & img 
                height: 100%
                width: 100%

            &.left
                left: 87px
                & .arr-r, & .arr-l
                    animation: none
                & .arr-l 
                    opacity: 0
            &.right
                left: calc(100% - 87px)
                & .arr-r, & .arr-l
                    animation: none
                & .arr-r
                    opacity: 0

        &::-webkit-slider-thumb
            pointer-events: all
            -webkit-appearance: none
            appearance: none
            background-color: transparent
            
            cursor: pointer
            height: 100px
            width: 94px

    &__animated
        position: absolute
        top: 50px
        right: 110px

        & .circle
            transform-box: fill-box
            transform-origin: center
            animation: round 20s infinite linear

    &-elem 
        position: absolute
        left: 80px
        top: -20px
        z-index: -1
        height: 111px
        width: 303px
        & svg 
            height: 100%
            width: 100%

    @media ( max-width: $xl )
        top: -60px
        width: 958px
        height: 400px

        &:before
            background-image: url('./assets/images/slider-bg-1024.png')

        &-card
            &__main
                width: 45%
                padding-bottom: 50px

                & .main-image
                    margin-bottom: 20px

                &.left
                    padding-left: 80px
                    margin-bottom: 30px
                    & .main-image
                        margin-right: 0
                        height: 129px
                        width: 253px

                &.right
                    padding-right: 80px
                    margin-bottom: 30px

                    & .main-image
                        margin-right: 0
                        height: 211px
                        width: 164px

            &__info
                width: 55%

                &.left
                    padding-left: 0
                    padding-bottom: 50px

                &.right
                    padding-right: 0
                    padding-bottom: 50px
                    

                &-item
                    font-size: 20px

                &-text 
                    max-width: 290px

                &-img 
                    margin-right: 20px

        &__title
            margin-bottom: 10px

        &-range
            width: calc(100% - 50px)
            left: 25px

            &__thumb
                height: 53px
                width: 62px

                &.left
                    left: 60px
                
                &.right
                    left: (calc(100% - 60px))

            &::-webkit-slider-thumb
                height: 53px
                width: 62px
        &-buttons 
            flex-direction: column

            & a.button
                margin-left: 0

                &.border
                    margin-top: 10px

        &__animated
            height: 120px
            width: 120px
            top: 15px
            right: 75px

        &-elem 
            left: 50px
            top: -15px
            height: 76px
            width: 207px

    @media (max-width: $lg)
        top: -50px
        height: 373px
        width: 808px

        &:before
            background-image: url('./assets/images/slider-bg-768.png')

        &-card 
            
            &.full &__main
                padding-bottom: 25px

            &__main
                &.left
                    padding-left: 100px
                    margin-bottom: 10px

                    & .main-image
                        margin-bottom: 18px
                        height: 129px
                        width: 253px
                
                &.right
                    padding-right: 100px
                    margin-bottom: 10px

                    & .main-image
                        height: 166px
                        width: 129px

            &__info
                &.left
                    padding-top: 0
                    padding-bottom: 0
                    padding-left: 15px
                &.right
                    padding-top: 80px
                    padding-bottom: 0

                &-img
                    height: 53px
                    width: 60px

                    &.right
                        height: 60px
                        width: 67px

                &-text
                    font-size: 18px
                    max-width: 230px

                &-item 
                    &:not(:last-child)
                        margin-bottom: 20px

        &__title
            font-size: 26px

        &-range
            width: calc(100% - 60px)
            left: 30px
        
        &-elem 
            left: 60px
            top: -10px
            height: 61px
            width: 166px
        &-buttons 
            & .border
                margin-top: 10px
    
    @media (max-width: $md)
        top: -40px
        width: 476px
        height: 1458px

        &:before
            background-image: url('./assets/images/slider-bg-540.png')

        &-card
            flex-direction: column
            height: auto

            &.right
                position: static
                flex-direction: column-reverse
                margin-top: 180px
            &__main
                width: auto
                margin-bottom: 40px

                &.left
                    padding-top: 82px
                    padding-bottom: 0
                    padding-left: 0
                    & .main-image
                        height: 134px
                        width: 262px
                        margin-bottom: 25px
                        margin-right: 40px
                
                &.right
                    padding-right: 0
                    padding-bottom: 0

                    & .main-image
                        height: 180px
                        width: 140px
                        margin-bottom: 25px
            &__info
                width: auto

                &.left
                    padding-top: 20px
                    padding-bottom: 0
                    padding-left: 0
                    & .slider-types-card__info-item:last-child
                        & .slider-types-card__info-text
                            max-width: 230px
                
                &.right
                    padding-top: 20px
                    padding-bottom: 0

                    & .slider-types-card__info-item:first-child
                        & .slider-types-card__info-text
                            max-width: 230px
                
                &-text 
                    font-size: 20px
                    max-width: 280px
        &__title
            font-size: 26px
            order: -1
            margin-bottom: 30px

        &-buttons 
            flex-direction: row

            & a.button 
                margin-top: 0
                margin-left: 10px

        &-range
            display: none
            &__thumb
                display: none
        
        &__animated 
            top: 45px
            right: 15px
            height: 130px
            width: 130px
        &-elem 
            display: none

    @media (max-width: $sm)
        width: 329px
        height: 1332px

        &:before 
            background-image: url('./assets/images/slider-bg-320.png')

        &-card 
            &.right 
                margin-top: 120px
                
            &__main 
                width: 100%
                margin-bottom: 30px

                &.left
                    padding-top: 55px

                    & .main-image
                        height: 117px
                        width: 230px
                        margin-bottom: 3px
                        margin-right: 30px

                &.right 
                    & .main-image
                        height: 166px
                        width: 129px
                        margin-bottom: 0
                        margin-top: -10px
                    
            &__info
                &-text 
                    font-size: 18px
                    max-width: 218px

                &-img 
                    height: 51px
                    width: 58px
                    margin-right: 10px

                    &.right
                        height: 57px
                        width: 64px

                &.left
                    padding-top: 10px
                    & .slider-types-card__info-item:last-child
                        & .slider-types-card__info-text
                            max-width: 200px
                            

                &.right
                    padding-top: 20px
                    padding-left: 5px
                    & .slider-types-card__info-item:first-child
                        & .slider-types-card__info-text
                            max-width: 200px

        &__title
            font-size: 20px
            margin-bottom: 22px

        &-buttons
            flex-direction: column
            width: 230px

            & a.button 
                margin-top: 10px
                margin-left: 0
        
        &__animated 
            top: 20px
            right: 5px
            
.bg-slider
    position: absolute
    height: 550px
    top: 19px
    left: 13px
    display: flex
    transition: .3s

    &:after 
        content: ''
        position: absolute
        left: 0
        top: 0
        height: 100%
        width: 754px
        background-image: url('./assets/images/bg-slider-figure.png')
        background-size: contain
        background-repeat: no-repeat
        background-position: center
        z-index: 0
    
    & svg 
        height: 100%
        width: auto

    & .right 
        height: 100%
        width: auto
        position: relative
        z-index: 1
    
    & .left
        height: 100%
        width: auto
        position: relative
        z-index: 1

    & .center
        width: 380px
        height: 100%
        background: linear-gradient(90deg, rgba(#924292, .9) 0%, rgba(#DA5D9C, .9) 100%)
        transition: .3s
        position: relative
        z-index: 1

    &.left        
        & .center
            width: 970px

    &.right
        opacity: 0

        & .center
            width: 50px

    @media (max-width: $xl)
        height: 380px
        top: 10px
        left: 8px
        &:after 
            width: 480px

        & .center
            width: 270px

        &.left
            & .center
                width: 682px

    @media (max-width: $lg)
        height: 360px
        top: 7px
        left: 4px
        &:after 
            width: 457px

        & .center
            width: 210px

        &.left
            & .center
                width: 555px

    @media ( max-width: $md )
        height: 460px
        transform: rotate(-90deg)
        top: 135px
        left: -128px

        &:after 
            height: 100%
            width: 628px

        & .center 
            width: 415px
            margin: 0 -1px

    @media ( max-width: $sm )
        height: 321px
        top: 159px
        left: -162px

        &:after 
            width: 428px

        & .center
            width: 435px
        