.triple
    background: $bg-gradient
    &__title 
        max-width: 840px
    &-content
        display: flex
        
        &__img
            height: 245px
            width: 415px
            margin-right: 22px
            border-radius: 10px
            box-shadow: 0px 0px 20px rgba(125, 64, 106, 0.69)

        &-cards 
            display: flex
            justify-content: space-between

        &-card 
            background-color: $base-white
            border-radius: 10px
            padding: 20px
            flex-basis: 33%
            
            &:not(:last-child)
                margin-right: 20px

            &__icon 
                height: 58px
                width: 68px
                margin-bottom: 12px

            &__title
                font-size: 23px
                line-height: 1.05
                margin-bottom: 8px
            &__text 
                font-size: 19px
                line-height: 1.2
    
    @media ( max-width: $xl )
        &__title 
            max-width: 100%
        &-content
            flex-direction: column
            align-items: center

            &__img
                height: 253px
                width: 427px
                margin-right: 0
                margin-bottom: 40px
                border-radius: 25px

    @media (max-width: $lg)
        &__title 
            margin-bottom: 55px
        &-content 
            &__img
                width: 100%
                height: auto
                margin-bottom: 20px
            &-cards
                flex-direction: column

            &-card
                display: flex
                width: 100%
                flex-direction: row
                align-items: center

                &:not(:last-child)
                    margin-right: 0
                    margin-bottom: 20px

                &__icon
                    margin-bottom: 0
                    margin-right: 15px

    @media (max-width: $md)
        &-content
            &__img
                border-radius: 15px

    @media ( max-width: $sm )
        &-content
            &__img
                border-radius: 10px
            &-card 
                flex-direction: column
                align-items: start
                &__icon 
                    margin-right: 0
                    margin-bottom: 12px
                &__title
                    font-size: 18px
                    margin-bottom: 6px
                &__text
                    font-size: 16px