.triple
    background: $bg-gradient
    &-block
        padding-top: 150px
        margin-bottom: 70px
    &__title 
        max-width: 840px
        margin: 0 auto
        margin-top: 0
        margin-bottom: 65px
    &-content
        display: flex
        
        &__img
            height: 285px
            width: 467px
            margin: -23px
            margin-right: 0

        &-cards 
            display: grid
            grid-template-columns: repeat(3, 1fr)
            grid-column-gap: 25px

        &-card 
            background-color: $base-white
            border-radius: 10px
            padding: 20px
            height: 100%

            &__icon 
                height: 58px
                width: 68px
                margin-bottom: 12px

            &__title
                font-size: 20px
                margin-bottom: 8px
            &__text 
                font-size: 18px
    
    @media ( max-width: $xl )
        &-block 
            padding-top: 130px
            margin-bottom: 60px
        &__title 
            max-width: 100%
            margin-bottom: 55px
        &-content
            flex-direction: column
            align-items: center

            &__img
                margin: 0
                margin-bottom: 20px

    @media (max-width: $lg)
        &-block 
            padding-top: 90px
            margin-bottom: 50px
        &__title 
            margin-bottom: 55px
        &-content 
            &__img
                width: calc(100% + 62px)
                height: auto
                margin-bottom: 0
            &-cards
                grid-template-columns: 1fr
                grid-row-gap: 20px

            &-card
                display: flex
                flex-direction: row

                &__icon
                    margin-bottom: 0
                    margin-right: 20px

    @media (max-width: $md)
        &-block 
            padding-top: 70px
            margin-bottom: 30px
        &__title 
            margin-bottom: 50px

    @media ( max-width: $sm )
        &-block 
            padding-top: 50px
            margin-bottom: 50px
        &__title 
            margin-bottom: 30px
        &-content
            &__img
                width: calc(100% + 30px)
            &-card 
                flex-direction: column
                &__icon 
                    margin-right: 0
                    margin-bottom: 12px
                &__title
                    font-size: 18px
                    margin-bottom: 6px
                &__text
                    font-size: 16px